.hero-section.products {
    background-image: url("../../../assets/e14c2da8e48b58671e02d4aa00566450.jpg"),
      linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
  }
  .cards .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    position: relative;
    overflow: hidden;
    z-index: 1;
    text-decoration-line: none;
  }
  
  .cards .card::before {
    content: "";
    background-color: #172f3b;
    width: 150%;
    height: 180%;
    position: absolute;
    top: -74%;
    left: -78%;
    z-index: -1;
    transform: rotate(39deg);
    transition: all 0.5s ease;
  }
  
  .cards .card:hover::before {
    transform: rotate(90deg);
  }
  .cards .card img {
    height: 300px;
    object-fit: cover;
  }
  
  .cards .card .p-card {
    font-size: 20px;
    color: #172f3b;
    font-weight: 500;
  }
  /* -------------------------------------------------------
                 products filter & cards
  -------------------------------------------------------- */
  
  .products .filter-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 15px;
  }
  .products .filter-title {
    font-weight: bold;
    margin-bottom: 10px;
    cursor: pointer;
  }
  .products .filter-reset {
    color: #ffa500;
    cursor: pointer;
  }
  .products .filter-items {
    display: none;
    margin-top: 10px;
  }
  .products .filter-item {
    margin-bottom: 5px;
  }
  .products .item {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    display: none; /* Initial state hidden for animation purposes */
  }
  
  .products .filter-sidebar {
    min-height: 100vh;
  }
  .products .form-check-input:checked {
    background-color: #36535f;
    border-color: #36535f;
  }
  .products .form-check-input:focus {
    border-color: rgb(54, 83, 95, 2);
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(54, 83, 95, 0.25);
  }
  /* card-product  */
  .products .item .card-text {
    color: #cbcbcb;
    font-size: 0.8rem;
  }
  
  .products .item .card-title {
    color: #230903;
    letter-spacing: 0.00969rem;
  }
  .products .item .btn-product {
    border-radius: 1.61863rem;
    background: #2e6373;
    box-shadow: 0px 3.578px 3.578px 0px rgba(0, 0, 0, 0.25),
      0px 3.578px 3.578px 0px rgba(0, 0, 0, 0.25);
    color: #ffff;
  }
  
  .products .item .btn-product:hover {
    background: rgb(27, 79, 95);
  }
  
  .products .item .img-bg {
    background: linear-gradient(180deg, rgba(23, 47, 59, 0.86) 0%, #2e6373 100%);
    border-radius: 50%;
    margin: 20px;
  }
  
  .products .card {
    box-shadow: rgba(14, 63, 126, 0.04) 0px 0px 0px 1px,
      rgba(42, 51, 69, 0.04) 0px 1px 1px -0.5px,
      rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px,
      rgba(42, 51, 70, 0.04) 0px 6px 6px -3px,
      rgba(14, 63, 126, 0.04) 0px 12px 12px -6px,
      rgba(14, 63, 126, 0.04) 0px 24px 24px -12px;
    border-radius: 20px;
  }
  // ************************************************************************************
  .products-section {
    background-color: #f8f9fa;
  }
  
  .card {
    transition: transform 0.2s ease-in-out;
  
    &:hover {
      transform: scale(1.05);
    }
  }
  
  .price {
    color: #28a745;
  }
  
  .btn-dark {
    background-color: #343a40;
    color: white;
  }
  