<section class="mt-5 ">
    <section class="hero-section mt-5 pt-5 events overflow-hidden d-flex justify-content-center align-items-center  text-center">
        <div class="container">
            <div>
                <h2>
                    {{ 'events.title' | translate }}                </h2>
            </div>
        </div>
    </section>
    <section class="events py-5">
        <div class="container">
            <div class="row d-flex justify-content-center flex-wrap">
                <div class="main-title text-center mb-5">
                    <h3 class="position-relative d-inline-block">{{ 'events.available_events' | translate }}</h3>
                    <div class="line  bg-yellow-color   pt-1 mb-4 mx-auto"></div>
                </div>
                <div class=" mb-5 col-10  col-md-4 ">
                    <div class="card wow animate__animated animate__zoomInUp border-0  border-bottom">
                        <img src="./assets/event-img.png" class="card-img-top" alt="event-img">
                        <div class="card-body pb-3">
                            <p class="card-title fw-bold">{{ 'events.name' | translate }}</p>
                            <span class="text-black-50 fw-semibold">{{ 'events.location' | translate }}</span> <br>
                            <span class="text-black-50 fw-semibold">{{ 'events.date' | translate }}</span>
                        </div>
                    </div>
                </div>
                <div class=" mb-5 col-10 col-md-4">
                    <div class="card wow animate__animated animate__zoomInUp border-0  border-bottom">
                        <img src="./assets/event-img.png" class="card-img-top" alt="event-img">
                        <div class="card-body pb-3">
                            <p class="card-title fw-bold">{{ 'events.name' | translate }}</p>
                            <span class="text-black-50 fw-semibold">{{ 'events.location' | translate }}</span> <br>
                            <span class="text-black-50 fw-semibold">{{ 'events.date' | translate }}</span>
                        </div>
                    </div>
                </div>
                <div class=" mb-5 col-10 col-md-4">
                    <div class="card wow animate__animated animate__zoomInUp border-0  border-bottom">
                        <img src="./assets/event-img.png" class="card-img-top" alt="event-img">
                        <div class="card-body pb-3">
                            <p class="card-title fw-bold">{{ 'events.name' | translate }}</p>
                            <span class="text-black-50 fw-semibold">{{ 'events.location' | translate }}</span> <br>
                            <span class="text-black-50 fw-semibold">{{ 'events.date' | translate }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
